[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
google = "*"
beautifulsoup4 = "*"
beautifultable = "*"
lxml = "*"
requests = "*"
progressbar = "*"
homura = "*"
rarfile = "*"
pipreqs = "*"

[requires]
python_version = "3.7"
